.form-contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    top: -30px;
}

.formularioFichas {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.formularioFichas input[type="text"],
.formularioFichas input[type="date"],
.formularioFichas button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formularioFichas button {
    background-color: #39a900;
    color: white;
    cursor: pointer;
}

.formularioFichas button:hover {
    background-color: #2c8101;
}
