/* Estilos generales para la tabla */
.docsTab {
    width: 100%;
    border-collapse: collapse;
}
  
.th, .td-instru {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
  
.th {
  background-color: #f2f2f2;
}

.btnAgregarObservacion {
  margin-bottom: 10px;
}

  /* Estilos para el textarea de las observaciones */
.textarea-container {
  position: relative;
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para el botón dentro del modal de enviar observación */
.modal-content .btnEnviar {
  background-color: #39a900; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  padding: 10px 20px; /* Espacio interno del botón */
  border: none; /* Eliminar borde */
  border-radius: 5px; /* Redondear esquinas */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  margin-top: 10px; /* Espacio superior */
}

.modal-content .btnEnviar:hover {
  background-color: #2e7d32; /* Cambiar color de fondo al pasar sobre el botón */
}

.textarea-container textarea {
  width: calc(100% - 20px); /* Restar el ancho de los botones */
  max-width: 100%; /* Establecer un ancho máximo */
  resize: vertical; /* Permitir redimensionamiento vertical */
}

.textarea-container button {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

/* Estilos para el contenedor de los botones */
.button-container {
  margin-top: 30px; /* Espacio entre el textarea y los botones */
}

.button-container button {
  margin-right: 5px; /* Espacio entre los botones */
}

@media screen and (max-width: 1358px) {
    .button-container {
      margin-top: 90px; /* Espacio entre el textarea y los botones */
    }
    
    .button-container button {
      margin-right: 5px; /* Espacio entre los botones */
    }
  
    .btnEnviarObservacion{
      position: relative;
      top: 10px;
      left: -5px;
      text-wrap: nowrap;
      font-size: 15px;
      color: #39a900;
    }
  
    .btnEnviarObservacion:hover{
      text-decoration: underline;
    }
  
    .btnAprobar{
      position: relative;
      top: -185px;
      left: -4px;
      margin-top: 90px;
      color: #39a900;
    }
  
    .btnAprobar:hover{
      text-decoration: underline;
    }

    .btnAprobar p::after {content: " Bitácora";}
  
    .btnDownloadInstru{
      position: relative;
      color: #39a900;
      top: -40px;
      left: -5px;
      text-wrap: nowrap;
    }
  
    .btnDownloadInstru:hover{
      text-decoration: underline;
    }
  
  }

@media screen and (max-width: 1272px) {
  .button-container {
    margin-top: 90px; /* Espacio entre el textarea y los botones */
  }
  
  .button-container button {
    margin-right: 5px; /* Espacio entre los botones */
  }

  .btnEnviarObservacion{
    position: relative;
    top: 10px;
    left: -5px;
    text-wrap: nowrap;
    font-size: 15px;
    color: #39a900;
  }

  .btnEnviarObservacion:hover{
    text-decoration: underline;
  }

  .btnAprobar{
    position: relative;
    top: -185px;
    left: -4px;
    margin-top: 90px;
    color: #39a900;
  }

  .btnAprobar:hover{
    text-decoration: underline;
  }

  .btnAprobar p::after {content: " Bitácora";}

  .btnDownloadInstru{
    position: relative;
    color: #39a900;
    top: -40px;
    left: -5px;
    text-wrap: nowrap;
  }

  .btnDownloadInstru:hover{
    text-decoration: underline;
  }

} 

  
/* Media query para dispositivos móviles */
@media screen and (max-width: 780px) {
  /* Ocultar la tabla encabezados y mostrar celdas como bloques */
  .docsTab, .Thead, .tbody, .th, .td-instru, .tr { 
    display: block; 
  }

  /* Ocultar encabezados */
  .Thead .tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  /* Establecer el ancho de las celdas */
  .td-instru { 
    width: 100%; 
  }

  /* Estilizar las filas */
  .tr { 
    margin-bottom: 15px; 
    border-bottom: 1px solid #ddd; /* Agregar borde inferior a cada fila */
    padding-bottom: 10px; /* Espacio entre filas */
  }

  /* Establecer estilos para las celdas */
  .td-instru { 
    border: none;
    position: relative;
    padding-left: 50%; 
  }

  /* Establecer estilos para los encabezados en dispositivos móviles */
  .td-instru:before { 
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%; /* Ancho relativo a la tabla */
    padding-right: 10px; /* Espacio entre el contenido y el borde */
    white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
  }

  /* Establecer estilos para el contenido en dispositivos móviles */
  .td-instru:nth-of-type(1):before { content: "Número de bitácora:"; }
  .td-instru:nth-of-type(2):before { content: "Número de Documento:"; }
  .td-instru:nth-of-type(3):before { content: "Nombres:"; }
  .td-instru:nth-of-type(4):before { content: "Apellidos:"; }
  .td-instru:nth-of-type(5):before { content: "Número de Ficha:"; }
  .td-instru:nth-of-type(6):before { content: "Programa de Formación:"; }
  .td-instru:nth-of-type(7):before { content: "Observaciones:"; }
  .td-instru:nth-of-type(8):before { content: "Estado:"; }
  .td-instru:nth-of-type(9):before { content: "Acciones:"; }

  .button-container {
    margin-top: 80px; /* Espacio entre el textarea y los botones */
  }

  .btnEnviarObservacion{
    position: relative;
    left: -55px;
    color: #39a900;
  }

  .btnAprobar{
    position: relative;
    top: -145px;
    left: 1px;
    text-wrap: nowrap;
    margin-top: 90px;
  }

  .btnAprobar p::after {content: " Bitácora";}

  .btnDownloadInstru{
    position: relative;
    color: #39a900;
    left: -190px;
    top: -55px;
  }

  .btnEnviarObservacion{
    position: relative;
    top: -15px;
    left: -418px;
    text-wrap: nowrap;
    font-size: 15px;
    color: #39a900;
  }
}
