<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitud de Restablecimiento de Contraseña</title>
</head>
<body>
    <h1>Solicitud de Restablecimiento de Contraseña</h1>
    <p>Estimado(a) {{ nombreUsuario }},</p>
    <p>Recibimos una solicitud para restablecer tu contraseña. A continuación, encontrarás el código de verificación necesario para completar el proceso:</p>
    <p>Código de Verificación: {{ codigoVerificacion }}</p>
    <p>Si no realizaste esta solicitud, puedes ignorar este mensaje.</p>
    <p>Atentamente,</p>
    <p>El equipo de SEEP</p>
</body>
</html>
