body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.Header-general {
    padding: 30px;
    background: #f1eeee;
    height: 90px;
}

.tSeep{
    margin-top: -50px;
    color: #39a900;
}

.sidenav{
    width: 240px;
    height: 90vh;
    position: absolute;
    padding: 0 30px;
    left: -100%;
    transition: all 0.1s;
    background: #f1eeee;
}
.sidenav.active{
    left: 0;
}

ul{
    padding: 0;
}

ul li{
    list-style: none;
    margin: 10px 0;
}

ul li a{
    display: block;
    color: #39a900;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px 8px;
    border-radius: 6px;
}
  
ul li a:hover,
ul li a:active{
    background: #fff;
}

.menu-burguer{
    font-size: 28px;
    color: #39a900;
}

.menu-burguer:hover{
    cursor: pointer;
}

.text-menu{

    padding: 0px 6px;
    bottom: 10px;
    color: #39a900;
}

.text-menu:hover{
    cursor: pointer;
}

.content{
    display: flex;
    position: relative;
    left: 5%;
    border-radius: 22px;
}

.card{
    top: 60px;
    right: 90px;
    width: 21rem;
    height: auto;
    
}

.carta{
    border: 4px solid #857d7d;
}

.perfil{
    border: 2px solid #000;
}

.card-text{
    color: #000000;
}

.cuerpo-carta{
    padding-top: 0px;
}

.bi-person-circle{
    font-size: 38px;
    text-align: center;
}

.carta2{
    display: flex;
    position: relative;
    left: 380px;
    top: -240px;
}
.fichas-content{
    height: auto;
    position: relative;
    right: 80px;
    border-top: 2px solid #f1eeee;
}

.fichasAll{
    position: relative;
    left: 100px;
}

.col-md-6.col-lg-3.mb-4:nth-child(1) .fichas {
    margin-left: 90px;
    position: relative;
    top: 15px;
}

.col-md-6.col-lg-3.mb-4:nth-child(2) .fichas {
    margin-left: 120px;
    margin-top: -45px;
}

.col-md-6.col-lg-3.mb-4:nth-child(3) .fichas {
    margin-left: 150px;
    margin-top: -45px;
}

.col-md-6.col-lg-3.mb-4:nth-child(4) .fichas {
    position: relative;
    top: 370px;
    right: 62rem;
}


.fichasAsignedTitle{
    font-weight: bold;
    color: #000;
    position: relative;
    right: 90px;
}

.logSenaFichas{
    left: 270px;
    top: -40px;
}

.lista-aprendices {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    max-width: 600px;
    background-color: #f1EEEE;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    padding: 6px;
}

.aprendices-fichas {
    border-bottom: 2px solid #000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.verFichas{
    color: #39a900;
    text-decoration: none;
}

.verFichas:hover{
    background-color: #39a900;
    color: #fff;
    padding: 8px;
}

.btnVerFicha{
    position: relative;
    top: -9px;
}

.selctFicha{
    position: relative;
    right: 93px;
}

.Regresar{
    color: #39a900;
    text-decoration: none;
    font-size: 20px;
}

.Regresar:hover{
    background-color: #39a900;
    color: #fff;
    padding: 8px;
    
}

.agendarVisita:hover{
    background-color: #39a900;
    color: #fff;
}