.contenedor-formulario {
  max-width: 800px; /* Ajusta el ancho máximo según tu diseño */
  width: 100%; 
  margin: 20px auto; 
  padding: 20px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.formulario-aprendiz {
  max-width: 500px; 
  width: 100%; 
  margin: 0 auto; 
  padding: 20px; 
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas */
  justify-content: space-between; /* Distribuye los elementos de manera uniforme */
}

.formulario-aprendiz input[type="text"],
.formulario-aprendiz input[type="number"],
.formulario-aprendiz input[type="password"],
.formulario-aprendiz input[type="email"] {
  width: calc(50% - 10px); /* Ancho del 50% con un espacio entre los elementos */
  margin-bottom: 10px; /* Espaciado entre los inputs */
  padding: 10px; /* Espaciado interno del input */
  border: 1px solid #ccc; /* Borde del input */
  border-radius: 5px; /* Bordes redondeados */
}




.formulario-aprendiz input[type="password"]
{
 
 width: 100%;
}




.formulario-aprendiz .fecha-label,
.formulario-aprendiz input[type="date"],
.formulario-aprendiz input[name="lugar_expedicion"],
.formulario-aprendiz input[name="lugar_nacimiento"]
 {
  width: calc(100%); 
}

/* Estilos adicionales para mejorar la apariencia */
.fecha-label {
  color: #818080; 
}

.formulario-aprendiz input::placeholder {
  color: #818080; 
  font-size: 16px;
}

.titulo-aprendiz {
  font-size: 30px;
}

/* Estilos adicionales para mejorar la apariencia */
.formulario-aprendiz p {
  margin-bottom: 20px; /* Espaciado entre los campos */
}


/* Media Query para 780px */
@media screen and (max-width: 780px) {
  .formularioFichas {
    width: 90%; /* Cambia el ancho del formulario */
  }
}


@media screen and (max-width: 480px) {
  .formulario-aprendiz input::placeholder {
    color: #818080; 
    font-size: 12px;
  }
}
