/* Fichas.css */

.formularioFichas {
  width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 9px;
  background-color: #ffffff;
  margin: 0 auto; /* Centra horizontalmente el formulario */
  margin-top: 5%; /* Ajusta el margen superior según sea necesario */
}



/*Color gris de los placeholders */
.formularioFichas input::placeholder {
  color: #818080;
}

.formularioFichas p {
  color: #818080;
}


.titulo-fichas {
  font-size: 30px;
  text-align: center; 
}

.formularioFichas input[type="text"],
.formularioFichas input[type="date"],
.formularioFichas button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formularioFichas button {
  background-color: #39a900;
  color: white;
  cursor: pointer;
}






/* Media Query para 780px */
@media screen and (max-width: 780px) {
  .formularioFichas {
    width: 90%; /* Cambia el ancho del formulario */
  }
}

/* Media Query para 480px */
@media screen and (max-width: 480px) {
  .formularioFichas {
    width: 90%; /* Cambia el ancho del formulario */
    padding: 10px; /* Ajusta el relleno */
  }

  .titulo-fichas {
    font-size: 24px; /* Reduce el tamaño de la fuente */
  }
}
