/* Agrega estilos para centrar los botones en la interfaz */
.contAdmin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; /* Establece la altura completa de la pantalla */
}
  
/* Estilos en CSS para los icon-box */
.icon-box {
    display: inline-block;
    text-align: center;
    margin: 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #ffffff;
    transition: background-color 0.3s; 
    border-radius: 5px;
    padding: 30px;
    -webkit-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
  }
  
  .icon{
    color: #39a900;
  }
 
  .icon-box:hover {
    background-color: #ccc; 
  }
  
  /* Estilos para los textos debajo de los iconos */
.icon-box span {
    display: block;
    margin-top: 5px;
    font-size: 19px;
    font-weight: bold; 
    color: #333; 
  }

 

  .titulo-panel {
    text-align: center;
    margin-top: -29%;
    margin-bottom: 80px;
    font-size: 24px; /* Ajusta el tamaño de fuente según tus preferencias */
    color: #333; /* Ajusta el color del texto según tu diseño */
    font-weight: bold; /* Texto en negrita, ajusta según tus preferencias */
  }






@media screen and (max-width: 780px) {
    .icon-box {
      display: inline-block;
      text-align: center;
      margin: 20px;
      cursor: pointer;
      border: 1px solid #ccc;
      background-color: #ffffff;
      transition: background-color 0.3s; 
      border-radius: 5px;
      padding: 30px;
    }

    .contenedor-admin{
      width: 700px;
    }
    
    .titulo-panel {
        margin-top: 20px; 
        margin-bottom: 30px; 
        font-size: 27px;
    }
}


@media (max-width: 480px) {
  .icon-box {
    width: 260px;
    padding: 20px;
    margin: 10px;
}

.contenedor-admin{
  width: 300px;
}

.titulo-panel {
    margin-top: 20px; 
    margin-bottom: 30px; 
    font-size: 30px;
}
.icon{
  color: #39a900;
  margin-left: 45px;


}


}
