.footer {
    color: #000;
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 100vw;
    left: 0;
    bottom: 0px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
}

.footer-section h2 {
    font-size: 1em; /* Tamaño de fuente reducido */
    margin-bottom: 8px; /* Margen inferior reducido */
    white-space: nowrap;
}

.footer-section p {
    margin: 0;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section a {
    text-decoration: none;
    color: #fff;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 8px; /* Margen superior reducido */
}

.social-icons i {
    font-size: 1.2em; /* Tamaño de fuente reducido */
    margin: 0 6px; /* Margen lateral reducido */
}

.footer-bottom p {
    margin: 0;
    font-size: 0.8em; /* Tamaño de fuente reducido */
}
@media screen and (max-width:780px) {
    .footer {
        display: none;
        
    }
}
