.calendar-container {
  position: relative; /* Cambia la posición a relativa */
  margin: 0 auto; /* Centra el calendario horizontalmente */
  max-width: 100%; /* Asegura que el calendario no sea más ancho que el viewport */
  height: 95vh; /* Establece la altura del calendario */
}

@media screen and (max-width: 1508.89px) {
  .calendar-container {
    height: 94vh; /* Ajusta la altura en pantallas más pequeñas */
    width: 60vw;
    top: 10px;
  }
}

@media screen and (max-width: 1413.33px) {
  .calendar-container {
      height: 95vh; /* Ajusta la altura en pantallas aún más pequeñas */
      width: 65vw;
      top: -10px;
  }
  .calendar-container .rbc-event{
    position: relative;
    top: -5px;
  }
}
