.lista-aprendices {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    max-width: 600px;
    background-color: #f1EEEE;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    padding: 6px;
}

.aprendices-fichas {
    border-bottom: 2px solid #000;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
.Regresar{
    color: #39a900;
    text-decoration: none;
    font-size: 20px;
}

.Regresar:hover{
    background-color: #39a900;
    color: #fff;
    padding: 8px;
    
}

.agendarVisita{
    color: #39a900
}

.agendarVisita:hover{
    background-color: #39a900;
    color: #fff;
}

@media screen and (max-width: 780px) {
    .lista-aprendices {
        list-style: none;
        padding: 0;
        margin: 20px auto;
        max-width: 600px;
        background-color: #f1EEEE;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        padding: 3px;
        position: relative;
        left: 1px;
    }
    
    .aprendices-fichas {
        border-bottom: 2px solid #000;
        padding: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
    }
    .Regresar{
        color: #39a900;
        text-decoration: none;
        font-size: 20px;
        position: relative;
        right: 40px;
    }
    
    .Regresar:hover{
        background-color: #39a900;
        color: #fff;
        padding: 8px;
        
    }
}